<!--создание книги-->

<%- include('../layout/index') %>
<form method = 'post' class = "mt-5">
    <div class = "form-group">
        <label for = "inputId"> id </label>
        <input type = "text"
                value = "<%= id %>"
                name = "id"
                class = "form-control"
                id = "inputId"
        >
    </div>
</form>
<%- include('./form') %>
</body>
</html>